h6:last-child {
  color: red;
}

img {
	width: 200px;
}

.items {
  text-align: center;
}

.items h6 {
  font-size: 25px;
}

.menu-div {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 6em;
}
