body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a[ id= "galeria" ]:target ~ #main article.panel {
  -webkit-transform: translateY(-500px);
  transform: translateY(-500px);
}
a[ id= "contacto" ]:target ~ #main article.panel {
  -webkit-transform: translateY(-1000px);
  transform: translateY(-1000px);
}
